<div class="columns is-multiline">
	<div class="column is-one-third-desktop is-half-tablet is-narrow" ng-repeat="antenna in scope.antennas">
		<div class="card">
		  <header class="card-header">
		    <p class="card-header-title">
		     Nombre:  {{antenna.name}} <br>
	         Clave:  {{antenna.pass}} <br>
	         SSid: {{antenna.ssid}}<br>
	          
		    </p>
		    <a 
		    	href="javascript:void(0)" 
		    	class="card-header-icon" 
		    	aria-label="more options"
		    	ng-click="antenna.hidden = (antenna.hidden == false) ? true : false">
		      <span class="icon">
		        <i class="fa" aria-hidden="true"
		        	ng-class="{'fa-angle-down': (antenna.hidden == true || antenna.hidden == null), 
		        	'fa-angle-up': (antenna.hidden == false)}"></i>
		      </span>
		    </a>
		  </header>
		  <div class="card-content" ng-class="{'is-hidden': (antenna.hidden == true || antenna.hidden == null)}">
		    <div class="content">
		    Marca: {{antenna.trademark}}<br>
	        Modelo: {{antenna.model}}<br>
	        IP: {{antenna.ip}}<br>
            Mac: {{antenna.mac}}<br>
            Ganancia: {{antenna.gain}}<br>
            Canal: {{antenna.channel}}<br>
            Latitud: {{antenna.latitude}}<br>
            Longitug: {{antenna.longitude}}<br>
            Sector: {{antenna.sector}}<br>
		      <br>
		    </div>
		  </div>
		  <footer class="card-footer">
		    <a href="javascript:void(0)" class="card-footer-item">Edit</a>
		    <a href="javascript:void(0)" class="card-footer-item" ng-click="scope.checkIfYouReallyWantToDelete(antenna)">Delete</a>
		  </footer>
		</div>
	</div>
</div>


<div class="modal" ng-class="{'is-active': (scope.showModal == true)}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Mensaje</p>
      <button class="delete" aria-label="close" ng-click="scope.showModal = false"></button>
    </header>
    <section class="modal-card-body">
      ¿Estás seguro de eliminar la antena {{scope.toDeleteAntenna.name}}?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" ng-click="scope.doDeleteAntenna()">Borrar antena</button>
      <button class="button" ng-click="scope.showModal = false">Cancelar</button>
    </footer>
  </div>
</div>