<div class="columns is-multiline">
	<div class="column is-one-third-desktop is-half-tablet is-narrow" ng-repeat="antenna in scope.antennas">
		<div class="card">
		  <header class="card-header">
		    <p class="card-header-title">
		     Nombre:  {{antenna.name}} <br>
	         Clave:  {{antenna.pass}} <br>
	         SSid: {{antenna.ssid}}<br>
	          
		    </p>
		    <a href="#" class="card-header-icon" aria-label="more options">
		      <span class="icon">
		        <i class="fa fa-angle-down" aria-hidden="true"></i>
		      </span>
		    </a>
		  </header>
		  <div class="card-content">
		    <div class="content">
		    Marca: {{antenna.trademark}}<br>
	        Modelo: {{antenna.model}}<br>
	        IP: {{antenna.ip}}<br>
            Mac: {{antenna.mac}}<br>
            Ganancia: {{antenna.gain}}<br>
            Canal: {{antenna.channel}}<br>
            Latitud: {{antenna.latitude}}<br>
            Longitug: {{antenna.longitude}}<br>
            Sector: {{antenna.sectorId}}<br>
		      <br>
		      <!--<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>-->
		    </div>
		  </div>
		  <footer class="card-footer">
		    <a href="#!editantenna" class="card-footer-item">Edit</a>
		    <a href="#" class="card-footer-item">Delete</a>
		  </footer>
		</div>
	</div>
</div>


<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>