  <section class="section">
    <div class="container">
      <p class="subtitle">Crea una nueva <strong>Antena</strong>!</p>

  
    <form name="createAntennaForm" ng-submit="scope.sendAntennaForm(createAntennaForm)">
      <div class="columns">
        <div class="column is-5">
          <input 
            name="name"
            ng-model="scope.antenna.name"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Nombre"
            style="margin-bottom: 20px;">
          <input 
            name="pass"
            ng-model="scope.antenna.pass"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Clave" 
            style="margin-bottom: 20px;">
          <input 
            name="ssid"
            ng-model="scope.antenna.ssid"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="SSID" 
            style="margin-bottom: 20px;">
          <input 
            name="trademark"
            ng-model="scope.antenna.marca" 
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Marca" 
            style="margin-bottom: 20px;">
          <input 
            name="model"
            ng-model="scope.antenna.model" 
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Modelo" 
            style="margin-bottom: 20px;">
          <input 
            name="ip"
            ng-model="scope.antenna.ip" 
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="IP" 
            style="margin-bottom: 20px;"> 
        </div>

        <div class="column is-5">
          <input 
            name="mac" 
            ng-model="scope.antenna.mac"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Mac" 
            style="margin-bottom: 20px;">
          <input 
            name="gain"
            ng-model="scope.antenna.gain"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Ganancia" 
            style="margin-bottom: 20px;">
          <input 
            name="channel" 
            ng-model="scope.antenna.canal"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Canal" 
            style="margin-bottom: 20px;">
          <input
            name="latitude"
            ng-model="scope.antenna.latitude"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Latitud" 
            style="margin-bottom: 20px;">
          <input
            name="longitude"
            ng-model="scope.antenna.longitude"
            ng-required="true"
            class="input" 
            type="text" 
            placeholder="Longitud" 
            style="margin-bottom: 20px;">
            
          <div class="select" style="margin-bottom: 50px;">
            <select>
              <option>Sector 0</option>
              <option>Sector 1</option>
              <option>Sector 2</option>
              <option>Sector 3</option>
            </select>
          </div>
        </div>
      </div>

        <div class="field">
        <p class="control">
          <button class="button is-primary" ng-submit="sendAntennaForm">
            Guardar nueva antena
          </button>
        </p>
      </div> 

    </form>
     
  </div>
</section>
  