 <section class="section">
    <div class="container">
      <p class="subtitle">Modificar <strong>Antena</strong>!</p>

      <!--MENSAJE CASILLAS VACÍAS -->
          <div class="notification is-warning" ng-show="scope.showEmptyFieldsMessage">
            <center><p>{{scope.fillTheFieldsMessage}}</p></center>
          </div>
        <!--FIN MENSAJE CASILLAS VACIAS -->

      <div class="columns">
        <div class="column is-5">
          <input class="input" type="text" placeholder="Nombre" style="margin-bottom: 20px;" ng-model="scope.nombre">
          <input class="input" type="text" placeholder="Clave" style="margin-bottom: 20px;" ng-model="scope.clave">
          <input class="input" type="text" placeholder="SSID" style="margin-bottom: 20px;" ng-model="scope.ssid">
          <input class="input" type="text" placeholder="Marca" style="margin-bottom: 20px;" ng-model="scope.marca">
          <input class="input" type="text" placeholder="Modelo" style="margin-bottom: 20px;" ng-model="scope.modelo">
          <input class="input" type="text" placeholder="IP" style="margin-bottom: 20px;" ng-model="scope.ip"> 
        </div>

        <div class="column is-5">
          <input class="input" type="text" placeholder="Mac" style="margin-bottom: 20px;" ng-model="scope.mac">
          <input class="input" type="text" placeholder="Ganancia" style="margin-bottom: 20px;" ng-model="scope.ganancia">
          <input class="input" type="text" placeholder="Canal" style="margin-bottom: 20px;" ng-model="scope.canal">
          <input class="input" type="text" placeholder="Latitud" style="margin-bottom: 20px;" ng-model="scope.latitud">
          <input class="input" type="text" placeholder="Longitud" style="margin-bottom: 20px;" ng-model="scope.longitud">
          <div class="select" style="margin-bottom: 50px;">
            <select>
              <option>Sector 0</option>
              <option>Sector 1</option>
              <option>Sector 2</option>
              <option>Sector 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-primary" ng-click="">
            Guardar cambios
          </button>
        </p>
      </div>   

    </div>
  </section>
  